* {
    box-sizing: border-box; /* Define que todo e qualquer elemento terá sua borda calculada a partir dessa definição */
    margin: 0;
    border: 0;
    padding: 0;
}

body { /* Coloca a imagem de fundo na página inteira */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../elenco/imagens/background_parede.png);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cabecalho {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: #302416;
    opacity: 87%;
    position:fixed;
}

.cabecalho img {
    padding-left: 10px;
    width: 150px;
    height: 60px;
}

.links-pags-externas a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    position: static;
}

.content{
    padding-top: 5%;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.agnes {
    width: 25%;
    height: 100%;
}

.titulotexto{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 72%;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
}

.texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content:flex-start;
    color: white;
    font-size: 132%;
    text-align: center;
}

.texto a{
    text-decoration: none;
    color: wheat;
}

.texto a:hover{
    text-decoration: underline;
}

.texto img{
    width: 50%;
    height: auto;
}

.obrinhas{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -2%;
}

.obrinhas img{
    width: 20%;
    height: auto;
}

.livros{
    display: flex;
    flex-direction: row;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.livros img{
    height: 100%;
    width: 20%;
    margin: 10%;
}

.links-pags-externas-2 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
}

.rodape {
    display: flex;
    justify-content: center; 
    align-items: center;
    align-self: flex-end;
    height: 10%;
    width: 100%;
    background-color: #000000ce;
    
}
    
.rodape .links-pags-externas-2 {
    width: 100%;
    max-width: 1200px; 
}

.rodape .links-pags-externas-2 a {
    font-family: "Helvetica", sans-serif;
    color: white;
    font-size: 19px; 
    text-decoration: none;
}

.links-pags-externas-2 a:hover {
    text-decoration: underline; 
}